/* You can add global styles to this file, and also import other style files */

.detail-subheader {
    cursor: default;
    margin-bottom: 8px;
}

.detail-column {
    padding: 4px;
    margin-top: -4px;
    display: flex;
    div {
        p {
            cursor: default;
            margin-top: -4px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.detail-label-column {
    padding-right: 8px;
    text-align: end;
    font-weight: bold;
}

.detail-value-column {
    flex: 1 1 0%;
}

.dx-drawer-content {
    background-color: #f2f2f2;
}